@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --card: 255 255 255;
    --primary: 0 123 254;
    --primary-foreground: 255 255 255;
    --destructive: 255 56 43;
    --grey: 142 142 147;
    --grey2: 174 174 178;
    --muted: 113 113 122;
    --sheet: 242 242 247;
  }

  .dark:root {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 21 21 24;
    --primary: 168 85 247;
    --primary-foreground: 255 255 255;
    --destructive: 254 67 54;
    --grey: 142 142 147;
    --grey2: 99 99 102;
    --muted: 161 161 170;
    --sheet: 28 28 30;
  }
}
